/*'color': '#FED130'*/
/*'color': '#1172B8'*/
body {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica Neue, -apple-system, PingFang SC, Microsoft YaHei, Hiragino Sans GB, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 100%;
  overflow-x: hidden;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}
ul,
menu,
dir {
  display: block;
  list-style-type: disc;
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
  -webkit-margin-start: 0;
  -webkit-margin-end: 0;
  -webkit-padding-start: 0;
}
article {
  display: block;
}
.clearfix:after {
  clear: both;
  visibility: hidden;
  font-size: 0;
  height: 0;
  content: " ";
  display: table;
}
.clearfix:before {
  content: " ";
  display: table;
}
.no-border {
  border: none;
}
/*小屏优先*/
/*小屏*/
.container {
  width: 100%;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}
@media (min-width: 768px) {
  .container {
    max-width: 1430px;
  }
}
.ant-layout-content {
  margin-top: 70px;
}
@media (min-width: 768px) {
  .ant-layout-content {
    margin-top: 107px;
  }
}
.top-banner-dots {
  width: 10px;
  height: 10px;
  background-color: #fed130;
  border-radius: 50%;
}
@media screen and (max-width: 767px) {
  .for-pc {
    display: none !important;
  }
}
/*大屏*/
@media screen and (min-width: 768px) {
  .for-mobile {
    display: none !important;
  }
}
