/*'color': '#FED130'*/
/*'color': '#1172B8'*/
body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica Neue, -apple-system, PingFang SC, Microsoft YaHei, Hiragino Sans GB, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

ul, menu, dir {
    display: block;
    list-style-type: disc;
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
    -webkit-margin-start: 0;
    -webkit-margin-end: 0;
    -webkit-padding-start: 0;
}

.clearfix:after {
    clear: both;
    visibility: hidden;
    font-size: 0;
    height: 0;
}

.clearfix:after, .clearfix:before {
    content: " ";
    display: table;
}

.no-border {
    border: none;
}

.show {
    opacity: 1;
    transition: opacity .5s;
}

.hide {
    transition: opacity .5s;
    opacity: 0;
}

/*小屏优先*/
/*小屏*/
.container {
    width: 100%;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
}

.ant-layout-content {
    margin-top: 60px;
}

/*导航*/
.home-nav {
    background: rgba(0, 122, 185, 1);
    padding: 0;
    height: 60px;
    position: fixed;
    width: 100%;
}

.home-nav .nav-main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    position: relative;
}

/*nav-bar*/
.home-nav .nav-bar {
    position: relative;
    left: 0;
    top: -2.5px;
    cursor: pointer;
}

.home-nav .nav-bar .nav-bar-line {
    height: 2px;
    overflow: hidden;
    width: 20px;
    display: block;
    margin-top: 5px;
    -webkit-transition: all .5s ease;
    -o-transition: all .5s ease;
    transition: all .5s ease;
    background-color: white;
}

.home-nav .nav-bar.active .nav-bar-line:first-child {
    margin-top: 5px;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.home-nav .nav-bar.active .nav-bar-line:last-child {
    margin-top: -5px;
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

.home-nav .nav-bar.active .nav-bar-line:nth-child(2) {
    opacity: 0;
}

/*nav-menu*/
.home-nav .nav-menu {
    justify-self: right;
}

.fixed-nav-menu {
    position: fixed;
    top: 60px;
    width: 100%;
    height: calc(100% - 60px);
    background-color: #007ce7;
}

.nav-ul a[href] {
    display: block;
    font-size: 22px;
    color: rgba(255, 255, 255, 1);
    text-align: left;
    cursor: auto;
}

.nav-logo {
    line-height: 1;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.logo {
    width: 54px;
    height: 40px;
}

.nav-book {
    width: 85px;
    height: 27px;
    font-size: 12px;
    font-weight: 500;
    text-align: center;
    line-height: 27px;
    color: rgba(0, 122, 185, 1);
    background: rgba(254, 209, 48, 1);
    border-radius: 14px;
}

.nav-ul {

}

.nav-ul-nested {
    display: none;
}

.top-banner-dots {
    width: 10px;
    height: 10px;
    background: rgba(254, 209, 48, 1);
    border-radius: 50%;
}

@media screen and (max-width: 767px) {
    .for-pc {
        display: none !important;
    }
}

/*大屏*/
@media screen and (min-width: 768px) {
    .container {
        max-width: 1430px;
    }

    .for-mobile {
        display: none !important;
    }

    /*导航*/
    .home-nav {
        height: 107px;
    }

    .nav-logo {
        position: static;
        transform: none;
    }

    .logo {
        width: 74px;
        height: 55px;
    }

    .nav-right {
        display: inline-flex;
        align-items: center;
        justify-content: space-between;
        width: calc(100% - 74px);
        max-width: 760px;
    }

    .nav-book {
        width: 147px;
        height: 45px;
        line-height: 45px;
        border-radius: 23px;
        font-size: 20px;
    }

    .nav-ul {
        display: inline-flex;
        align-items: stretch;
        justify-content: space-between;
        list-style: none;
        font-size: 22px;
        font-weight: 400;
        width: calc(100% - 147px);
        max-width: 550px;
    }

    .nav-ul-nested {
        position: absolute;
    }

    .nav-ul a[href] {
        display: block;
        font-size: 22px;
        color: rgba(255, 255, 255, 1);
        text-align: center;
        cursor: auto;
    }
}

